@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-top: 0px;
}
:root{
  --cor0--: #ffffff;
  --cor1--: #ff3131;
  --cor2--: rgb(226, 157, 93);
  --fontetitulo--: 'Poppins', sans-serif;
}
body{
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: 10in;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14in;
  background-color: #3a3939;
}
main {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
 
}

.background-da-gloria {
  background-color: #000;
}

main .main-text {
  font-family: 'Bebas Neue', sans-serif;
  display: flex;
  font-size: 3em;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background: linear-gradient(150deg, rgb(226, 157, 93) 50%,#ffffff 100%);
  -webkit-background-clip: text !important;
  color: #ff000000 !important;
  border-bottom: 1px ;
  margin-top: 40px;
}

.main-cards {
  width: 100%;
  height: 100vh;
  background-color: #3a3939;
}

.header img{
  justify-content: left;
  width: 130px;
  height:auto;
  position: relative;
  margin: -22px;
  border-bottom: 1px black;
  top: 0%;
}
.link{
  position: relative;
    margin: 2px;
    margin-top: -70px;
    margin-left: 500px;
    top: -20px;
    font-size: 1.4em;

}
.link > a{
    position: relative;
    text-decoration: none;
    color: rgb(5, 4, 4);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1em;
    margin: 10px;
    border-radius: 10px;
    transition: 1s;
   
    
}
.link a:hover{
  color: var(--cor1--);
  font-size: 1.2em;
  padding: 0 10px 10px;
  transition: 1s;
}
.header{
  position: fixed;
  width: 2000px;
  height: 100px;
  background-color: transparent;
  padding: 20px 40px;
  border-bottom: 1px solid #222f3e;
  margin-bottom: 5px;
  backdrop-filter: blur(5px);
  
  
  
}


main figure img{
  width: 100%;
  height: 100vh;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.678);
}

footer{
    background-color: #000;
    width: 100%;
    padding: 50px 100px;
    position: relative;
}

.endereco {
    text-align: center;
    margin-top: -175px;
    bottom: 500px;
  }
  
  .rede{
    text-align: right;
    margin-top: -130px;
  }

  .contatos{
    text-align: left;
    margin-bottom: 100px;
  }

  iframe{
    display: block;
    margin: auto;
    margin-bottom: 10px;
  }
  p{
    font-size: 1.2em;
    margin-bottom: 19px;
    margin: 60px;
  }
  h3{
    margin: 30px;
    font-size: 1.5em;
  }

  .conteudo{
    margin: left;
    margin-top: -600px;
  }

  .conteudo h1{
    font-family: 'Bebas Neue', sans-serif;
    background: linear-gradient(150deg, rgb(255, 0, 0) 50%,#ffffff 100%);
    -webkit-background-clip: text !important;
    color: #ff000000 !important;
    border-bottom: 1px ;
    margin-top: 30px;
    text-align: center;
  }

  .conteudo h2{
    font-family: 'Bebas Neue', sans-serif;
    background: linear-gradient(150deg, rgb(138, 206, 13) 50%,#ffffff 100%);
    -webkit-background-clip: text !important;
    color: #ff000000 !important;
    border-bottom: 1px ;
    margin-top: 90px;
    margin-left: 30px;
    text-align: center;
  }

  .conteudo h3{
    font-family: 'Bebas Neue', sans-serif;
    background: linear-gradient(150deg, rgb(218, 233, 7) 50%,#ffffff 100%);
    -webkit-background-clip: text !important;
    color: #ff000000 !important;
    border-bottom: 1px ;
    margin-top: 90px;
    
  }

  .subheader .as{
    position: relative;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1em;
    border-radius: 10px;
    transition: 1s;
    right: -300px;
    font-size: 0.9em;
    margin: 20px;
    transition: 2s;
  }

  .subheader .as:hover{
    color: var(--cor1--);
    font-size: 1.2em;
    padding: 10px 10px;
    transition: 1s;
  }

  ul{
    margin-left: 20px;
  }

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--cor1--);
  border-radius: 10px;
}
